{% extends "base.html" %} {% block styles %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='styles/analysis.css') }}"
/>
{% endblock %} {% block content %} {% if error %}
<div class="error">{{ error }}</div>
{% elif analysis %}
<a href="/"> Back to form submit</a>
<h2 id="analysis-result" tabindex="-1">Analysis Results</h2>
{{ analysis | safe }} {% endif %} {% endblock %} {% block javascript %}
<script>
  document.querySelector('#analysis-result').focus();
</script>
{% endblock %}
