<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% block head %}
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/base.css') }}"
    />
    {% block styles %}{% endblock %}
    <title>AI refactorer</title>
    {% endblock %}
  </head>
  <body>
    <main>
      <h1>Welcome to AI refactorer!</h1>
      <h2>
        This simple Python project will suggest improvements to your code using
        AI. Start by uploading a file.
      </h2>
      <div id="ssr-validation">
        {% with messages = get_flashed_messages() %} {% if messages %} {% for
        message in messages %}
        <p id="error-message" tabindex="-1">
          <span role="img" aria-label="Error">❌</span>
          <span>{{ message }}</span>
        </p>
        {% endfor %} {% endif %} {% endwith %}
      </div>
      <div id="content">{% block content %}{% endblock %}</div>
    </main>
    {% block javascript %}{% endblock %}

    <script>
      document.addEventListener('DOMContentLoaded', () => {
        const error = document.querySelector('#error-message');
        if (error) error.focus();
      });
    </script>
  </body>
</html>
